$am-theme-primary: #94D439;
@import 'activeadmin_addons/all';
@import 'activeadmin_addons/material';
@import 'imageviewer';

.admin-index-image {
  width: 100px;
  height: 100px;
}

.페이스북{
  background-color: #4266B2;
  color: white;
}
.카카오{
  background-color: #F7E418;
  color: black;
}
