/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*/
:root {
    --f7-theme-color: #94D439;
    --f7-theme-color-rgb: 0,122,255;
    --f7-theme-color-shade: #94D439;
    --f7-theme-color-tint: #94D439;
    --f7-safe-area-left: 0px;
    --f7-safe-area-right: 0px;
    --f7-safe-area-top: 0px;
    --f7-safe-area-bottom: 0px;
    --f7-safe-area-outer-left: 0px;
    --f7-safe-area-outer-right: 0px;
    --f7-device-pixel-ratio: 1;
}

.center-image{
	object-fit: cover;
	object-position: center;
	width:100%;
	height:100%;
}
.tabbar-labels a.tab-link {
	font-size: 27px;
	padding-top: 6px;
	padding-bottom: 3px;
	font-weight: 500;
}
.tabbar-labels a.tab-link i {
  font-size: 18px;
	line-height: 20px;
}
.tabbar-labels .tabbar-label {
  font-size: 14px;
	letter-spacing: 0;
}
.toolbar {
	background: #fff;
}
.toolbar-inner {
	padding: 0;
}
.tabbar a, .tabbar-labels a {
	color: #979797;
}

.title, .title-large-text {
  font-family: 'Anton', sans-serif;
}

.display-none {
  display: none;
}

.right {
  float: right;
}

#create-errand {
  font-size: 30px;
  line-height: 40px;
  color: #94D439;
}

.popup {
  padding: 0;
}

img.demo-lazy {
  width: 100%;
  height: auto;
  display: block;
}
div.demo-lazy {
  background: #aaa;
  background-size: cover;
  height: 60vw;
}
