<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27554323400-2blaedt27rdg68dpo6teud7jtg6umb4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27554323400-2blaedt27rdg68dpo6teud7jtg6umb4l</string>
	<key>API_KEY</key>
	<string>AIzaSyDVANOfmoY0GCb1bu2aq7LWhQq9aOjVssk</string>
	<key>GCM_SENDER_ID</key>
	<string>27554323400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.rails</string>
	<key>PROJECT_ID</key>
	<string>haejwo-second</string>
	<key>STORAGE_BUCKET</key>
	<string>haejwo-second.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27554323400:ios:7478cd36bcd9adf9023efd</string>
	<key>DATABASE_URL</key>
	<string>https://haejwo-second.firebaseio.com</string>
</dict>
</plist>