<%= render 'shared/navbar_default', title: '심부름수정', back: true %>

<div class="page-content">
  <div class="segments-page">
    <div class="container">

      <div class="content-box">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
