<div class="subnavbar">
  <form class="searchbar searchbar-init" id="event-id-searchbar" data-search-container=".search-list" data-search-in=".item-title">
    <div class="searchbar-inner">
      <div class="searchbar-input-wrap">
        <input type="search" placeholder="제목으로 검색해주세요.">
        <i class="searchbar-icon"></i>
        <span class="input-clear-button"></span>
      </div>
      <span class="searchbar-disable-button">Cancel</span>
    </div>
  </form>
</div>

<%= render 'shared/event_list', events: @events %>

<%= content_for :style do %>
  .event-popover {
    width: 25%;
  }

  .event-status {
    display: inline;
  }
<% end %>

<%= content_for :init do %>
// 내가하기 눌렀을 때
$$('.events__do').click(function(){
  const eventId = $$(this).data("id");
  app.dialog.confirm('정말 심부름을 수행하시겠습니까?', '', function () {
    app.preloader.show();
    Rails.ajax({
      url: `/events/perform/${eventId}`,
      type: "post",
      success: function(response) {
        $$(`#events__do_${eventId}`).remove();
        $$(`#events__do_result_${eventId}`).append(`<span style="float: right;"><i class="fas fa-check"></i></span>`);
        app.tab.show('#noti-chat-tab');
        app.views.current.router.navigate(`/chatrooms/${response.chatroomId}`);
        longNoti('성공적으로 매칭되었습니다! 심부름을 부탁한 사람과 이야기를 나누세요!');
      }
    });
    app.preloader.hide();
  });
});

// 이벤트 삭제하기 눌렀을 때
$$('#events__delete_btn').click(function(){
  app.preloader.show();
  const eventId = $$(this).data("id");
  Rails.ajax({
    url: `/events/${eventId}`,
    type: "delete",
    success: function(response) {
      setTimeout(function(){
        app.views.current.router.refreshPage();
        shortNoti('심부름 요청글이 정상적으로 삭제되었습니다.');
      }, 300);
    }
  });
  app.preloader.hide();
});

// 심부름 제목으로 검색
const eventSearchbar = app.searchbar.create({
  el: '#event-id-searchbar',
  searchContainer: '#events',
  searchIn: '.event-title'
});


var $ptrContent = $$('.ptr-content');
$ptrContent.on('ptr:refresh', function (e) {
  app.views.current.router.refreshPage();
});
<% end %>
