<div class="navbar no-shadow">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" id="popup-close-button">
        <i class="icon fas fa-times"></i>
      </a>
    </div>
    <div class="title">심부름 생성</div>
  </div>
</div>


<div class="page-content">
  <div class="segments-page">
    <div class="container">

      <div class="content-box">
        <%= render 'form', event: @event, reward_selectors: @reward_selectors, building_selectors: @building_selectors, form_id: 'event-form', submit_id: 'event-submit-button' %>
      </div>

    </div>
  </div>
</div>

<%= content_for :init do %>
$$('#popup-close-button').click(function(){
  app.popup.close();
});

$$('#event-submit-button').click(function(){
  app.preloader.show();
});
<% end %>
