<div class="page">
	<div class="page-content">

		<!-- content -->
		<div class="segments-page">
			<div class="container">

				<div class="maintenance">
						<h4><%= @msg %></h4>
					</div>
				</div>

			</div>
		</div>
		<!-- end content -->

	</div>

</div>

<%= content_for :style do %>
  .title-text {
    text-align: center;
  }
<% end %>
