<%= render 'shared/navbar_notitle', title: '마이페이지' %>

<div class="page-content hide-toolbar-on-scroll">

  <!-- settings -->
  <div class="segments-page">
    <div class="container">
      <div class="settings">
        <div class="settings-photo">
          <div class="content-image">
            <img src="/vuma/images/profile.png" alt="">
            <form>
              <input type="file" id="button-upload">
              <label for="button-upload" class="icon-upload"><i class="fas fa-camera"></i></label>
            </form>
          </div>
        </div>
        <div class="settings-general">
          <div class="wrap-title">
            <h3>General Settings</h3>
          </div>
          <form class="list no-hairlines-md list-box">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Name</div>
                  <div class="item-input-wrap">
                    <input type="email" placeholder="Enter name here">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Email</div>
                  <div class="item-input-wrap">
                    <input type="email" placeholder="Enter email here">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Phone</div>
                  <div class="item-input-wrap">
                    <input type="text" name="phone">
                  </div>
                </div>
              </li>
            </ul>
          </form>
        </div>

        <div class="settings-general">
          <div class="wrap-title">
            <h3>Notification</h3>
          </div>
          <div class="list list-box">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">Notification</div>
                    <div class="item-after">
                      <label class="toggle toggle-init color-green">
                        <input type="checkbox" checked>
                        <span class="toggle-icon"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="settings-sound">
          <div class="wrap-title">
            <h3>Sound Settings</h3>
          </div>
          <div class="list list-box">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fas fa-volume-mute"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">Silent Mode</div>
                    <div class="item-after">
                      <label class="toggle toggle-init color-green">
                        <input type="checkbox" checked>
                        <span class="toggle-icon"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fas fa-volume-up"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">Volume</div>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <div class="range-slider range-slider-init" data-label="true">
                      <input type="range" value="50" min="0" max="100" step="1">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end settings -->
</div>
