<%= render 'shared/navbar_notitle', back: false, title: '승인 대기중' %>

<div class="page">
	<div class="page-content">

		<!-- content -->
		<div class="segments-page">
			<div class="container">

				<div class="maintenance">
					<div class="content-box">
						<div class="icon-animation">
							<ul>
								<li>
									<i class="fas fa-cog"></i>
								</li>
								<li class="gear-opponent">
									<i class="fas fa-cog"></i>
								</li>
							</ul>
						</div>
						<h4>승인 대기중</h4>
						<p>재학생 승인은 24시간 이내로 처리될 예정입니다.<br>나중에 다시 접속해 주세요.</p>
					</div>
				</div>

			</div>
		</div>
		<!-- end content -->

	</div>

</div>

<%= content_for :style do %>
  .title-text {
    text-align: center;
  }
<% end %>
