<!-- Full layout received message -->
<div class="message message-received">
  <div class="message-avatar" style="background-image:url(<%= message.sender.thumbnail_url %>);"></div>
  <div class="message-content">
    <div class="message-name"><%= message.sender&.name %></div>
    <div class="message-bubble">
      <div class="message-text"><%= message.content %></div>
    </div>
  </div>
</div>
<!-- Messages -->
