<div class="forum">
    <% @pushes.each do |push| %>
      <div class="content-box pushes__content_box">
        <div class="user-forum">
          <div class="title-name">
            <div class="push-time">
                <span style="float: right;"><%= push.created_at.strftime("%Y-%m-%d %H:%M") %></span>
            </div>
            <div>
              <h5><%= push.title %></h5>
            </div>
          </div>
        </div>
        <div class="content-text">
          <h4><%= push.body %></h4>
        </div>
      </div>
  <% end %>
</div>

<%= content_for :style do %>
  .push-time {
    display: inline;
  }

  .pushes__content_box {
    margin-bottom: 20px;
  }
<% end %>
