<div class="page-content">

  <div class="segments-page">
    <div class="container">

      <div class="embeds">
        <div class="wrap-title">
          <h3>Google Maps Embeds</h3>
        </div>
        <div class="content-box">
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060965204!2d-74.25987695601818!3d40.69714939158755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sKota+New+York%2C+New+York%2C+Amerika+Serikat!5e0!3m2!1sid!2sid!4v1520664948501"></iframe>
        </div>
      </div>

    </div>
  </div>

</div>
