<% title ||= "제목" %>
<% back ||= false %>
<div class="navbar no-shadow">
  <div class="navbar-inner">
    <div class="left">
      <% if back %>
        <a href="<%= no_back? ? '/' : '#' %>" class="link back" id="back-button">
          <i class="icon fas fa-chevron-left"></i>
        </a>
      <% end %>
    </div>
    <div class="title"><%= title %></div>
    <% if title == '채팅방' %>
      <div class="right">
        <a href="#" class="tab-link" id="report-popup-button"><i class='fas fa-exclamation-circle'></i></a>
      </div>
    <% end %>
  </div>
</div>
