<% title ||= "제목" %>
<% back ||= false %>
<div class="navbar no-shadow">
  <div class="navbar-inner">
    <div class="left">
      <% if back %>
        <a href="<%= no_back? ? '/' : '#' %>" class="link back" id="back-button">
          <i class="icon fas fa-chevron-left"></i>
        </a>
      <% end %>
    </div>
    <div class="title"><%= title %></div>
    <div class="title-large">
      <div class="title-large-text"><%= title %></div>
    </div>
    <div class="right">
      <a href="" class="link icon-only panel-open">
        <i class="icon fas fa-bars"></i>
      </a>
    </div>
  </div>
</div>
